# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Other
*.log
